<!DOCTYPE html>
<html>
<head>
    <title>Home App</title>
    <style>
        table, th, td {
          border: 1px solid black;
          border-collapse: collapse;
        }
        th, td {
          padding: 5px;
          text-align: left;
        }
    </style>
</head>
<body>
<div class="container my-3">
<h3>Contact Form</h3>
<form method="POST">
    {% csrf_token %}
    {{ form }}
    <button type="submit">Submit</button>
</form>
</div>
    <div>
        <table style="width:100%">
            <tr>
                <th>Name</th>
                <th>Mobile Number</th>
                <th>Email</th>
            </tr>
            
            {% for contact in contacts %}
           <!--  <ul>
                <li><a href="#">{{ contact.full_name }}</a></li>
                <li><a href="#">{{ contact.mobile_number }}</a></li>
                <li><a href="#">{{ contact.email }}</a></li>
            </ul> --> 
                <tr>
                    <th><a href="#">{{ contact.full_name }}</a></th>
                    <th><a href="#">{{ contact.mobile_number }}</a></th>
                    <th><a href="#">{{ contact.email }}</a></th>
                </tr>
            {% endfor %}
            </table>
        </div>
    </div>
</body>
</html>	

<!--<input class="btn btn-primary" type="submit" value="Save" />